<section data-ng-controller="HomeController">
    <div id="uvp">
        <div class="container">
            <h1 class="uvp-text">Vos documents juridiques. Simplifiés !</h1>
        </div>
    </div>
    <div id="features">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2>Fonctionnalités</h2>
                    <hr>
                </div>
            </div>
            <div class="row text-center">
                <div class="feature">
                    <span class="icon"></span>
                    <h3>Fiable</h3>
                    <p>Tout nos documents sont rédigés par des avocats experts de leur domaine</p>
                </div>
                <div class="feature">
                    <span class="icon"></span>
                    <h3>Instantané</h3>
                    <p>Obtenez vos documents en quelques clics</p>
                </div>
                <div class="feature">
                    <span class="icon"></span>
                    <h3>Sécurisé</h3>
                    <p>Tous vos documents sont accessibles 24/7 et sécurisé avec les meilleurs standards</p>
                </div>
            </div>
        </div>
    </div>

    <div id="testimonials">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h2>Ils nous font confiance</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial pull-right">
                        <div class="quote">
                            I am just quoting some stuff but I am seriously happy about this product. Has a lot of powerful
                            features and is so easy to set up, I could stay customizing it day and night, it's just so much fun!
                        </div>
                        <div class="author">
                            <img src="modules/core/img/testimonials/testimonial1.jpg" class="pic" alt="testimonial1">
                            <div class="name">John McClane</div>
                            <div class="company">Microsoft</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="testimonial">
                        <div class="quote">
                            This thing is one of those tools that everybody should be using. I really like it and with this ease to use, you can kickstart your projects and apps and just focus on your business!
                        </div>
                        <div class="author">
                            <img src="modules/core/img/testimonials/testimonial2.jpg" class="pic" alt="testimonial2">
                            <div class="name">Karen Jones</div>
                            <div class="company">Pixar Co.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider 2 Section -->
    <div class="call-to-action">
        <div class="container text-center">
            <h3>Start your 30-day free trial today.</h3>
            <a href="#" type="button" class="btn btn-lg btn-primary">Get Started</a>
        </div>
    </div><!-- /divider02 -->

    <!-- Footer Wrap -->
    <section id="contact">
        <div class="footerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Contact Us</h3>
                        <br>
                        <p><span class="icon-location"></span> Some Address 373, Palo Alto, CA <br/>
                            <span class="icon-phone"></span> (800) 373-7733 <br/>
                            <span class="icon-envelope"></span> <a href="mailto:support@bootstacktheme.com">support@bootstacktheme.com</a>
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <h3>We Are Social</h3>
                        <br>
                        <div id="social">
                            <a href="#" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
                            <a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <h3>Newsletter</h3>
                        <br>
                        <p>Subscribe to our newsletter and be the first to know our latest updates.</p>
                        <div class="form-inline">
                            <input type="text" class="form-control" placeholder="Your email">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /footerwrap -->
    </section>


    <!-- Copyright Wrap -->
    <div class="copywrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <p>Copyright &copy;2014 Ariane. Tout droits réservés.</p>
                </div>
                <div class="col-lg-2">
                    <p><a href="#">CGU</a> | <a href="#">Confidentialité</a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /copywrap (copyright) -->
</section>
